@use '../abstract/' as a;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: clamp(a.rem(20), a.rem(16) + 6vw, a.rem(70));
}

p {
  margin-top: 0;
  line-height: 2;
}
