@use '../abstract/' as a;

:root {
  --secondary-text: RGBA(245, 245, 245, 1);
  --primaryBackGround: white;
  --secondaryBackgroundColor: hsl(155, 43%, 18%);
  --typeWriterColor: RGBA(80, 80, 80, 1);
  --background: RGBA(245, 245, 245, 1);
  --text: RGBA(0, 0, 0, 1);
  --Button: RGBA(36, 187, 182, 1);
  --ButtonHover: RGBA(36, 187, 182, 0.8);
  --ButtonColor: RGBA(24, 86, 83, 1);
  --hoverColor: hsl(176, 95%, 24%);
  --hamburgerColor: hsl(359, 100%, 68%);
  --tooltip-text-color: hsl(137, 59%, 89%);
  --tooltip-background-color: hsl(176, 95%, 24%);
  --tooltip-margin: a.rem(30);
  --tooltip-arrow-size: a.rem(6);
  --sec: rgb(78, 252, 246);
}
